
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	min-height: 100vh;
	color: #555;
	padding: 30px 30px;
	margin-top: 40px;
}

h2{
    font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  padding-left: 12%;
  align-items: center;
  
}

.add-container {
	display: none;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

#navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 8%;
}

#navbar button {
	padding: 0.5rem;
	border-radius: 15%;
	border: none;
	background-color:#fff;
}
#buttons{
	transition: 0.4s ease ;
	border: 1px solid black;
	border-radius: 6px;
}

#navbar button:hover {
	background-color:  #66ed4b;
}

#navbar span{
	font-size: 8px;
}

table {
	width: 85%;
	margin: 30px auto;
}

table th {

	padding-top: 0.5%;
	color: black;
	background-color: #cede89;
	/* background-color: #fff; */
	border: thin solid #d4d4d4;
}
.checkbox-label{
	padding: 0;
	background-color: #f4f4f4;
	/* background-color: #fff; */
	border: thin solid #d4d4d4;
}

table td {
	padding: 10px;
	border: thin solid #d4d4d4;
	width: auto;
	text-align: center;
	background-color: #fff;
}

table span {
	color: rgb(122, 30, 164)
}

table tr td:nth-child(-n+2){
	width: 20px;
}
 
tr {
	background-color: rgb(188, 62, 125);
}

.checked-row {
	background-color: rgb(83, 9, 9);
  }


  .upwordArrow{
	background-image: none;
  }

  .downArrow{
	background-image: none;
  }
  /*............................................*/

  .add-container {
	background-color: #f2f2f2;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  .inputs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
  }
  
  input[type="text"], input[type="number"] {
	padding: 5px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  }
  
  input[type="text"]:focus, input[type="number"]:focus {
	outline: none;
	box-shadow: 0px 0px 3px rgba(0, 0, 255, 0.3);
  }
  button#submit{
	font-size : 10 px;
    font-weight: 600;
    padding: 5px 100px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s ease ;
  }
  
  button#submit:hover{
	background-color: #64ef69;
  }
  